<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wastewise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasteWise">
        <activity
            android:name=".PostDetailActivity"
            android:exported="true" />
        <activity
            android:name=".AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".UserQuestionnaire"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".Leaderboard"
            android:exported="true" />
        <activity
            android:name=".Rewards"
            android:exported="true" />
        <activity
            android:name=".Events"
            android:exported="true" />
        <activity
            android:name=".DigitalCard"
            android:exported="true" />
        <activity
            android:name=".CheckupLanding"
            android:exported="true" />
        <activity
            android:name=".CheckupActivity"
            android:exported="true" />
        <activity
            android:name=".CheckupSubmission"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Explanation"
            android:exported="true" />
        <activity
            android:name=".HelpPage"
            android:exported="true" />
        <activity
            android:name=".Forum"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>